html{
	font-size:100%;
	height:100%;
	width:100%;
	
	
}


body{
	margin:0;
	padding:0;
	height:100%;
	box-sizing:border-box;
	font-family:'Josefin Sans', sans-serif;
	font-size:1.125rem;
}

header{
	
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	height:12rem;
	transition:all 2s ease-in-out;
	
	
}
.light{
	background-image:url('images/bg-mobile-light.jpg');

	
}
.dark{
	background-image:url('images/bg-mobile-dark.jpg');
}
.header-top{
	position:relative;
	
	
}
.title{
	color:hsl(0, 0%, 98%);
	font-size:1.8rem;
	letter-spacing:.5rem;
	display:inline-block;
	padding-top:2rem;
	padding-left:2rem;
	margin-top:0;
	text-transform:uppercase;
}

.change-mode{
	position:absolute;
	top:2rem;
	right:2rem;
	
	
	
}

/*input*/
.todo-input{
	background:hsl(0, 0%, 98%);
	width:calc(90% - 32px);
	margin:auto;
	margin-top:1.2rem;
	padding:.7rem 1rem;
	border-radius:5px;
	transition:all 2s ease-in-out;
}


input{
	color:hsl(235, 19%, 35%);
	background:hsl(0, 0%, 98%);
	width:60%;
	border:none;
	vertical-align:middle;
	transition:all 2s ease-in-out;
}
input:focus{
	outline:none;
	
	
}
.light-text{
	color:hsl(235, 19%, 35%);
}
.light-text::placeholder {
   color:hsl(235, 19%, 35%);
 }
.dark-text{
	color:hsl(234, 39%, 85%);
	
}
.dark-text::placeholder {
    color: hsl(234, 11%, 52%);
 }


.add-btn{
	background-color:transparent;
	height: 1.5rem;
	width: 1.5rem;
	margin-right:.5rem;
	border-radius: 50%;
	border: 1px solid hsl(233, 11%, 84%);
	vertical-align:middle;
	cursor:pointer;
	transition:all 2s ease-in-out;
}

.add-btn:focus, .add-btn:active{
	outline:none;
	
	
}


.container{
	background-color:hsl(236, 33%, 92%);
	height:calc(100% - 12rem);
	padding-top:1rem;
	/* animation-duration:3s; */
	transition:all 2s ease-in-out;
}

/*todos*/

.todo-list{
	
	position:relative;
	top:-2rem;
	width:90%;
	margin:auto;
	padding:0;
	border-radius:5px;
	transition:all 2s ease-in-out;
	
}

.new-item{
	color:hsl(235, 19%, 35%);
	position:relative;
	padding:1rem;
	padding-top:1.125rem;
	padding-left:4rem;
	border-bottom:1px solid hsl(233, 11%, 84%);
	list-style:none;
	transition:all 2s ease-in-out;
	cursor:pointer;
}


.check-btn{
	
	position:absolute;
	top:.85rem;
	left:2em;
	background-color:transparent;
	height: 1.5rem;
	width: 1.5rem;
	margin-right:.5rem;
	border-radius: 50%;
	border: 1px solid hsl(233, 11%, 84%);
	vertical-align:middle;
	transition:all 2s ease-in-out;
	cursor:pointer;
}

.check-btn:hover{
	
	
	border-radius:50%;
	
	background-image:linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	background-size:cover;
	
	}
.check-btn:hover:after{
	background-color:hsl(0, 0%, 98%);
	height:1.3rem;
	width:1.3rem;
	content:'';
	position:absolute;
	top:5%;
	left:5%;
	border-radius:50%;
	
}
.btn-select{
	color: hsl(233, 11%, 84%);
	background-image: url('images/icon-check.svg'), linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	background-size:cover;
	background-repeat:no-repeat;
	cursor:pointer;
}



.list-select{
	
	text-decoration:line-through;
	
}

.delete-btn{
	background-image:url('images/icon-cross.svg');
	background-size:cover;
	background-repeat:no-repeat;
	display:inline-block;
	position:absolute;
	right:2rem;
	top:1em;
	height:1rem;
	width:1rem;
	transition:all 2s ease-in-out;
	cursor:pointer;
	
}

/*dark/light mode change*/
.light-todo-list{
	
	background-color:hsl(0, 0%, 98%);
	
}


.dark-todo-list{
	background-color:hsl(235, 24%, 19%);
	border-radius:5px;
	overflow:hidden;
}


.dark-todo-list > li{
	color:hsl(234, 39%, 85%);
	background-color:hsl(235, 24%, 19%);
	border-bottom:1px solid hsl(237, 14%, 26%);
	
}
.dark-todo-list > li.list-select{
	color:hsl(237, 14%, 26%);
	
	
}
.dark-todo-list > li > .check-btn{
	background-color:hsl(235, 24%, 19%);
	border:1px solid hsl(234, 11%, 52%);
	
}
.dark-todo-list > li > .check-btn:hover:after{
	background-color:hsl(235, 24%, 19%);
}

/*task select*/

.task-select{
	color:hsl(236, 9%, 61%);
	background:hsl(0, 0%, 98%);
	font-size:1rem;
	width:calc(90% - 32px);
	margin:auto;
	margin-top:-2rem;
	padding:1rem;
	border-radius:5px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	position:relative;
	transition:all 2s ease-in-out;
}
.task-select > div{
	cursor:pointer;
	font-weight:700;
}
.task-select >.items-left:hover, .task-select >.clear-all:hover{
	color:hsl(235, 19%, 35%);
	
}
.task-select-box{
	background: hsl(0, 0%, 98%);
	position: absolute;
	top: 5rem;
	left:0;
	right:0;
	display: block;
	width:auto;	
	padding:1rem;
	border-radius:5px;
	text-align:center;
	transition:all 2s ease-in-out;
}
.task-select-box > div{
	display:inline-block;
}
.task-select-box >div:hover{
	color:hsl(235, 19%, 35%);
	
}

.blueColor{
	color:hsl(220, 98%, 61%);
	
}
.dark-task-select{
	 color: hsl(234, 11%, 52%);
	background-color:rgb(37, 39, 60);
}
.dark-task-select >.task-select-box > div:hover{
	color:hsl(236, 33%, 92%);
	
}
.dark-task-select >.items-left:hover, .dark-task-select >.clear-all:hover{
	color:hsl(236, 33%, 92%);
}
.dark-task-select > .task-select-box{
	background-color:rgb(37, 39, 60);
	
}
.light-task-select{
	
	
}

.task-select >.items-left, .task-select >.clear-all{
	color:hsl(236, 9%, 61%);
	font-size:.95rem;
	font-weight:400;
}

.dark-task-select >.items-left, .dark-task-select >.clear-all{
	color:hsl(234, 11%, 52%);
}


.drag-drop{
	color: hsl(236, 9%, 61%);
	font-size:1rem;
	margin-top:8rem;
	text-align:center;
	
	
}

.attribution{
	color: hsl(236, 9%, 61%);
	padding-top:8rem;
}
@media(min-width:700px){
	
	
	header{
		background-image:url('images/bg-desktop-light.jpg');
		height:15rem;
	}
	.light{
	background-image:url('images/bg-desktop-light.jpg');

	
}
	.dark{
		background-image:url('images/bg-desktop-dark.jpg');
}
	.header-top{
		top:2rem;
		max-width:550px;
		margin: auto;
		
		
	}
	.todo-input{
		
		max-width:518px;
		margin-top:2rem;
	}
	.task-select{
		
		max-width:518px;
		width:100%;
	}
	.task-select-box{
		background:transparent;
		position:relative;
		top:0;
		display:flex;
		justify-content:space-evenly;
		align-items:center;
		width:40%;
		padding:0;
		border-radius:0px;
	}
	.items-left{
		width:25%;
		text-align:left;
		
	}
	.clear-all{
		width:25%;
		text-align:right;
		
	}
	.task-select-box > div{
		
	}
	.container{
		height:100%;
	}
	.todo-list{
		max-width:550px;
		
		
	}
	
}





